* {
  font-family: 'Lato', sans-serif; }

/* Header Styles */
.page-header {
  margin: 0px;
  padding: 0px; }
  .page-header h1 {
    margin: 5px 5px 5px 5px;
    padding-left: 30px; }
  .page-header a {
    display: block;
    border-left: 1px solid;
    height: 49px;
    text-decoration: none; }
  .page-header a:hover {
    border-bottom: 3px solid gray; }

p.intro_text {
  font-size: 20px;
  text-align: center;
  width: 800px;
  margin: auto; }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5; }

/* */
.square {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /*the magic*/
  height: 0px;
  width: 0px;
  background-color: #333;
  border-radius: 50%;
  -webkit-animation: s1 2s infinite;
  -moz-animation: s1 2s infinite;
  animation: s1 2s infinite; }

@-webkit-keyframes s1 {
  50% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
    opacity: .7; } }
@-moz-keyframes s1 {
  50% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
    opacity: .7; } }
@keyframes s1 {
  50% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
    opacity: .7; } }
/* Spinner ---------------------------------------------------------------*/
.square div {
  position: absolute;
  background-color: yellow;
  box-shadow: 0 0 10px black;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  top: 6px;
  right: 6px;
  -webkit-animation: s1 2s infinite;
  -webkit-animation-timing-function: cubic-bezier(1, 0.45, 0.45, 1);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -moz-animation: s1 2s cubic-bezier(1, 0.45, 0.45, 1) infinite;
  animation: s1 2s cubic-bezier(1, 0.45, 0.45, 1) infinite; }

.square div + div, .square div + div div {
  position: absolute;
  background-color: teal;
  height: 100%;
  width: 100%;
  top: -6px;
  right: -6px; }

.two {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-animation: s1 1s infinite;
  -moz-animation: s1 1s infinite;
  animation: s1 1s infinite; }

@keyframes spin {
  from {
    transform: rotate(0deg); }

  to {
    transform: rotate(360deg); }

  /*animation-name: spin; 
  animation-duration: 3s;
  animation-iteration-count: infinite; 
  animation-timing-function: linear;
  */ }
/*----------------------------------------------------------------------*/
img#icon {
  height: 25px; }

h2#year {
  margin-top: 0px;
  margin-right: 15px;
  padding-left: 30px;
  border-bottom: 2px solid gray; }

div#text_output {
  width: 330px;
  margin-left: 15px; }

div#charts {
  margin-left: -55px; }

p#listed {
  border-bottom: 1px solid gray;
  margin-bottom: 0px;
  margin-right: 15px; }

.container {
  width: 80%;
  min-width: 800px;
  display: block;
  margin-left: auto;
  margin-right: auto; }

/* ----------------------- */
/* ----------------------- */
/* ----------------------- */
/* ----------------------- */
/* ----------------------- */
/* ----------------------- */
/* ----------------------- */
/* ----------------------- */
/* ----------------------- */
/* ----------------------- */
/* ----------------------- */
/* ----------------------- */
/* ----------------------- */
/* ----------------------- */
/* ----------------------- */
/* ----------------------- */
.container_results {
  width: 80%;
  min-width: 800px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border: 1px solid #434343; }

#results_address_owner {
  width: 100%;
  background-color: #434343;
  color: #EBEBEB;
  height: 30px; }

#address {
  float: left;
  font-size: 15px;
  line-height: 30px;
  vertical-align: middle;
  padding-left: 10px; }

#owner {
  float: right;
  font-size: 15px;
  line-height: 30px;
  vertical-align: middle;
  padding-right: 10px; }

#results_scoring {
  width: 250px;
  background-color: #C9C9C9;
  padding-top: 20px;
  padding-bottom: 20px; }

.results_scoring_individual {
  height: 200px;
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  text-align: center;
  line-height: 200px;
  vertical-align: middle;
  font-size: 20px; }

.results_scoring_individual:hover {
  background-color: #E6E6E6; }

#results_breakdown {
  float: right; }

/* ----------------------- */
/* ----------------------- */
/* ----------------------- */
/* ----------------------- */
#submit:hover {
  background-color: #E6E6E6;
  background-image: linear-gradient(#b8b8b8, #e6e6e6); }

#submit:active {
  background: #85B7D4;
  outline: none;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset; }

#submit::-moz-focus-inner {
  border: 0;
  /* Small centering fix for Firefox */ }

/* ----------------------- */
/* ----------------------- */
/* ----------------------- */
/* ----------------------- */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%; }

div#all_results {
  border-left: 1px solid #afafaf;
  border-right: 1px solid #afafaf; }

.containerMAIN {
  min-height: 100%;
  position: relative; }

.content {
  padding-bottom: 65px;
  /* Height of the footer element */ }

/* ----------------------- */
/* ----------------------- */
/* ----------------------- */
/* ----------------------- */
